<app-scoreboard  [scoren]="score"></app-scoreboard>
<div class="container">
    <div class="container_options">
        <div class="option_btn paper_btn" (click)="getChoice(2)"> <div class="bg_img"><img src="../../../images/icon-paper.svg" alt="paper icon"></div></div>
        <div class="option_btn scissors_btn" (click)="getChoice(3)"> <div class="bg_img"><img src="../../../images/icon-scissors.svg" alt="Scissors icon"></div></div>
        <div class="option_btn rock_btn" (click)="getChoice(1)"><div class="bg_img"> <img src="../../../images/icon-rock.svg" alt="rock icon"></div></div>
    </div>
</div>